@model IFoozLiveView.Models.GameState


<div class="game-container">

    <div class="score">
        <span class="players-names team-blue">
            @foreach (var player in Model.TeamBlue)
            {
                <i class="fa fa-user"></i> @Html.DisplayFor(m => player.Name)
            }
        </span>        
        <span class="score-numbers">@Html.DisplayFor(m => m.BlueScore) - @Html.DisplayFor(m => m.WhiteScore)</span>
        <span class="players-names team-white">
            @foreach (var player in Model.TeamWhite)
            {
                <i class="fa fa-user"></i> @Html.DisplayFor(m => player.Name)
            }
        </span>
    </div>
   
   
    <hr/>
    <div class="goals-list">
        @foreach (var goal in Model.Goals)
        {
            <p><i class="fa fa-soccer-ball-o"></i>&nbsp;@Html.DisplayFor(m => goal.Timestamp) @Html.DisplayFor(m => m.GetPlayer(goal.PlayerId).Name)</p>
        }
    </div>

</div>
